In [1]:
import pyodbc

In [2]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 13 for SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [3]:
# define the server and the database
server = 'BIBEK-SHAH-SHAN\MSSQLSERVER2019' 
database = 'AdventureWorks2019'  

# Define the connection string
cnxn = pyodbc.connect(  
    'DRIVER={SQL Server}; \
    SERVER='+ server +'; \
    DATABASE='+ database +';\
    Trusted_Connection=yes;'
)

In [4]:
query = "SELECT Name, CreditRating FROM Purchasing.Vendor WHERE CreditRating < 3"

Create a CURSOR that we can use to work in the database

In [6]:
cursor = cnxn.cursor();

In [7]:
cursor.execute(query);

In [8]:
#Fetch and store the results
data = cursor.fetchall()
data

[('Australia Bike Retailer', 1),
 ('Allenson Cycles', 2),
 ('Advanced Bicycles', 1),
 ('Trikes, Inc.', 2),
 ('Morgan Bike Accessories', 1),
 ('Cycling Master', 1),
 ('Chicago Rent-All', 2),
 ('Greenwood Athletic Company', 1),
 ('Compete Enterprises, Inc', 1),
 ('International', 1),
 ('Light Speed', 1),
 ('Training Systems', 1),
 ('Gardner Touring Cycles', 1),
 ('International Trek Center', 1),
 ('G & K Bicycle Corp.', 1),
 ('First National Sport Co.', 1),
 ('International Bicycles', 1),
 ('Image Makers Bike Center', 1),
 ('Comfort Road Bicycles', 1),
 ('Knopfler Cycles', 1),
 ('Ready Rentals', 1),
 ('Cruger Bike Company', 1),
 ('Bergeron Off-Roads', 1),
 ("Hill's Bicycle Service", 1),
 ('Circuit Cycles', 1),
 ('Green Lake Bike Company', 1),
 ('Sports House', 1),
 ('WestAmerica Bicycle Co.', 1),
 ('West Junction Cycles', 1),
 ('Marsh', 1),
 ('Capital Road Cycles', 1),
 ('Norstan Bike Hut', 1),
 ('Illinois Trek & Clothing', 1),
 ('Burnett Road Warriors', 1),
 ('Custom Frames, Inc.', 2),
 ('First Rate Bicycles', 1),
 ('National Bike Association', 1),
 ("Jeff's Sporting Goods", 1),
 ('Superior Bicycles', 1),
 ('Vision Cycles, Inc.', 1),
 ('Litware, Inc.', 1),
 ('Mitchell Sports', 1),
 ('Signature Cycles', 2),
 ('SUPERSALES INC.', 1),
 ('Lindell', 1),
 ('Fitness Association', 1),
 ('A. Datum Corporation', 1),
 ('Beaumont Bikes', 1),
 ('Bike Satellite Inc.', 1),
 ('Northwind Traders', 1),
 ('Sport Playground', 1),
 ('Hybrid Bicycle Center', 1),
 ('Midwest Sport, Inc.', 1),
 ('Reliance Fitness, Inc.', 2),
 ('Aurora Bike Center', 1),
 ('Metro Sport Equipment', 1),
 ('Lakewood Bicycle', 1),
 ('Speed Corporation', 1),
 ('Competition Bike Training Systems', 1),
 ('Hill Bicycle Center', 1),
 ('Bicycle Specialists', 1),
 ('Indiana Bicycle Center', 1),
 ('Sport Fan Co.', 1),
 ('GMA Ski & Bike', 1),
 ('Integrated Sport Products', 1),
 ('Inline Accessories', 1),
 ('Legend Cycles', 1),
 ('Electronic Bike Co.', 1),
 ('International Sport Assoc.', 1),
 ('Electronic Bike Repair & Supplies', 1),
 ('Wide World Importers', 2),
 ('American Bicycles and Wheels', 1),
 ('American Bikes', 1),
 ('Mountain Works', 1),
 ('Crowley Sport', 1),
 ('Magic Cycles', 1),
 ("Anderson's Custom Bikes", 1),
 ('Leaf River Terrain', 1),
 ('Touring Equipment Center', 1),
 ('Holiday Skate & Cycle', 1),
 ('Expert Bike Co', 1),
 ('Varsity Sport Co.', 1),
 ('Team Athletic Co.', 1),
 ('Jackson Authority', 1),
 ('Premier Sport, Inc.', 1),
 ('Professional Athletic Consultants', 1),
 ('Pro Sport Industries', 1),
 ('Wood Fitness', 1),
 ('Bloomington Multisport', 1),
 ('Carlson Specialties', 2),
 ('Compete, Inc.', 1),
 ('Chicago City Saddles', 1),
 ('Business Equipment Center', 2)]

In [9]:
#Close the cursor
cursor.close()

### Connect and extract data | Consolidated with statement
Create a CONNECTION and import the DATA. There is no need to close the connection manually here as it will close when exiting the with statement.

In [10]:

with cnxn as conx:
    cursor = conx.cursor()
    cursor.execute(query)
    data = cursor.fetchall()

Display the RESULTS to check the data (first 5 rows)

In [11]:
print(data[:5])

[('Australia Bike Retailer', 1), ('Allenson Cycles', 2), ('Advanced Bicycles', 1), ('Trikes, Inc.', 2), ('Morgan Bike Accessories', 1)]

### Other useful methods
Access the DATA as a NAMED TUPLE, which can prove to be very handy

In [12]:
for row in data[:5]:
    print(f"VENDOR NAME: {row.Name}\nCREDIT RATING: {row.CreditRating}")

VENDOR NAME: Australia Bike Retailer
CREDIT RATING: 1
VENDOR NAME: Allenson Cycles
CREDIT RATING: 2
VENDOR NAME: Advanced Bicycles
CREDIT RATING: 1
VENDOR NAME: Trikes, Inc.
CREDIT RATING: 2
VENDOR NAME: Morgan Bike Accessories
CREDIT RATING: 1

Retrieve the COLUMN NAMES for a table

In [13]:
columns = [row.column_name for row in cursor.columns(table='Vendor')]
print(columns)

['BusinessEntityID', 'AccountNumber', 'Name', 'CreditRating', 'PreferredVendorStatus', 'ActiveFlag', 'PurchasingWebServiceURL', 'ModifiedDate']

Retrieve a LIST OF TABLES in the database (first 5 records)

In [14]:
tables = [row.table_name for row in cursor.tables()]
print(tables[:5])

['AWBuildVersion', 'DatabaseLog', 'ErrorLog', 'Department', 'Employee']

### Select queries with parameters
SINGLE parameter query (Female employees)

In [17]:
with cnxn as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT NationalIDNumber, JobTitle FROM HumanResources.Employee WHERE Gender = ?', 'F')
    f_emp_data = cursor.fetchall()

Retrieve a LIST of TABLES in the database (first 5 records)

In [18]:
for row in f_emp_data[:5]:
    print(row)

('245797967', 'Vice President of Engineering')
('695256908', 'Design Engineer')
('811994146', 'Research and Development Engineer')
('658797903', 'Research and Development Engineer')
('486228782', 'Tool Designer')

MULTI parameters query (Male employees, Vacation hours < 40)

In [19]:
with cnxn as conx:
    cursor = conx.cursor()
    cursor.execute('SELECT NationalIDNumber, JobTitle, VacationHours FROM HumanResources.Employee WHERE Gender = ? AND VacationHours < ?' , ('M',40))
    m_vac_data = cursor.fetchall()

Retrieve a LIST of TABLES in the database (first 5 records)

In [20]:
for row in m_vac_data[:5]:
    print(row)

('509647174', 'Engineering Manager', 2)
('998320692', 'Design Engineer', 6)
('879342154', 'Research and Development Manager', 16)
('974026903', 'Senior Tool Designer', 7)
('480168528', 'Tool Designer', 9)

## CRUD OPeration
### Create and read operation

In [27]:

query1 ="create table driver(driver_id varchar(100), driver_name varchar(100),age int)"
cursor =cnxn.cursor()
cursor.execute(query1);

In [28]:
query2 = "select * from driver"
cursor.execute(query2);
data1 = cursor.fetchall()
data1

[]

### inserting data

In [29]:

query3 ="insert into driver values('d_1','salkiran',25)"
query4 ="insert into driver values('d_2','bibek',23)"
query5 ="insert into driver values('d_3','david',21)"

In [30]:
cursor.execute(query3)
cursor.execute(query4)
cursor.execute(query5)

### Read Operation

In [31]:
query6 = "select * from driver"
cursor.execute(query6);
data2 = cursor.fetchall()
data2

[('d_1', 'salkiran', 25), ('d_2', 'bibek', 23), ('d_3', 'david', 21)]

### Update Operation

In [32]:

query7 = "update driver set driver_name='naruto' where driver_name='salkiran'"

In [33]:
cursor.execute(query7)

In [34]:
query8="select * from driver"

In [35]:
cursor.execute(query8)

In [36]:
data3 = cursor.fetchall()
data3

[('d_1', 'naruto', 25), ('d_2', 'bibek', 23), ('d_3', 'david', 21)]

### Delete Operation

In [37]:

query9 = "delete from driver where driver_id='d_1'"
cursor.execute(query9)

In [38]:
query10 = 'select * from driver'
cursor.execute(query10)

In [39]:
data4 = cursor.fetchall()
data4

[('d_2', 'bibek', 23), ('d_3', 'david', 21)]