In [3]:
#importing the necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#reading the Dataset
Honey = pd.read_csv('US_honey_dataset_updated.csv')

In [5]:
Honey.head()

,Unnamed: 0,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,0,Alabama,16000,58,928000,28000,62.0,575000,1995
1,1,Arizona,52000,79,4108000,986000,68.0,2793000,1995
2,2,Arkansas,50000,60,3000000,900000,64.0,1920000,1995
3,3,California,420000,93,39060000,4687000,60.0,23436000,1995
4,4,Colorado,45000,60,2700000,1404000,68.0,1836000,1995

In [6]:
#Dropping the Unnamed: 0
Honey = Honey.drop(['Unnamed: 0'],axis=1)
Honey.head()

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62.0,575000,1995
1,Arizona,52000,79,4108000,986000,68.0,2793000,1995
2,Arkansas,50000,60,3000000,900000,64.0,1920000,1995
3,California,420000,93,39060000,4687000,60.0,23436000,1995
4,Colorado,45000,60,2700000,1404000,68.0,1836000,1995

In [7]:
#Checking the Honey Dataset
Honey.describe()

,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
count,1115.000000,1115.000000,1.115000e+03,1.115000e+03,1115.000000,1.115000e+03,1115.000000
mean,62438.565022,59.743498,2.851268e+06,1.172625e+06,140.623076,5.667412e+06,2007.740807
std,92648.175955,19.940500,5.561202e+06,2.049556e+06,107.011544,9.459460e+06,7.823002
min,2000.000000,19.000000,1.200000e+04,9.000000e+03,1.300000,1.060000e+05,1995.000000
25%,9000.000000,45.000000,2.460000e+05,1.125000e+05,70.000000,1.008000e+06,2001.000000
50%,26000.000000,57.000000,8.280000e+05,3.700000e+05,128.000000,2.281000e+06,2008.000000
75%,69000.000000,71.000000,2.700000e+06,1.253500e+06,193.000000,5.704000e+06,2015.000000
max,550000.000000,155.000000,3.906000e+07,1.354500e+07,874.000000,8.385900e+07,2021.000000

In [8]:
Honey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                1115 non-null   object
 1   colonies_number      1115 non-null   int64
 2   yield_per_colony     1115 non-null   int64
 3   production           1115 non-null   int64
 4   stocks               1115 non-null   int64
 5   average_price        1115 non-null   float64
 6   value_of_production  1115 non-null   int64
 7   year                 1115 non-null   int64
dtypes: float64(1), int64(6), object(1)
memory usage: 69.8+ KB

In [9]:
States = pd.unique(Honey['state'])
print(States)
len(States)

['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'NewJersey'
 'NewMexico' 'NewYork' 'NorthCarolina' 'NorthDakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'SouthCarolina' 'SouthDakota' 'Tennessee' 'Texas'
 'Utah' 'Vermont' 'Virginia' 'Washington' 'WestVirginia' 'Wisconsin'
 'Wyoming']

44

In [10]:
#using the one-hot-encoder
Data = pd.get_dummies(Honey['state'])

In [11]:
Data.head()

,Alabama,Arizona,Arkansas,California,Colorado,Florida,Georgia,Hawaii,Idaho,Illinois,...,SouthDakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,WestVirginia,Wisconsin,Wyoming
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#Honey Dataset
Honey.head()

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62.0,575000,1995
1,Arizona,52000,79,4108000,986000,68.0,2793000,1995
2,Arkansas,50000,60,3000000,900000,64.0,1920000,1995
3,California,420000,93,39060000,4687000,60.0,23436000,1995
4,Colorado,45000,60,2700000,1404000,68.0,1836000,1995

In [13]:
from sklearn.preprocessing import normalize
Normal = normalize([Honey['colonies_number']])

In [14]:
Data['colonies'] = Normal.data

In [15]:
Data.head()

In [16]:
Data.tail()

In [17]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 45 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Alabama        1115 non-null   uint8
 1   Arizona        1115 non-null   uint8
 2   Arkansas       1115 non-null   uint8
 3   California     1115 non-null   uint8
 4   Colorado       1115 non-null   uint8
 5   Florida        1115 non-null   uint8
 6   Georgia        1115 non-null   uint8
 7   Hawaii         1115 non-null   uint8
 8   Idaho          1115 non-null   uint8
 9   Illinois       1115 non-null   uint8
 10  Indiana        1115 non-null   uint8
 11  Iowa           1115 non-null   uint8
 12  Kansas         1115 non-null   uint8
 13  Kentucky       1115 non-null   uint8
 14  Louisiana      1115 non-null   uint8
 15  Maine          1115 non-null   uint8
 16  Maryland       1115 non-null   uint8
 17  Michigan       1115 non-null   uint8
 18  Minnesota      1115 non-null   uint8
 19  Mississippi    1115 non-null   uint8
 20  Missouri       1115 non-null   uint8
 21  Montana        1115 non-null   uint8
 22  Nebraska       1115 non-null   uint8
 23  Nevada         1115 non-null   uint8
 24  NewJersey      1115 non-null   uint8
 25  NewMexico      1115 non-null   uint8
 26  NewYork        1115 non-null   uint8
 27  NorthCarolina  1115 non-null   uint8
 28  NorthDakota    1115 non-null   uint8
 29  Ohio           1115 non-null   uint8
 30  Oklahoma       1115 non-null   uint8
 31  Oregon         1115 non-null   uint8
 32  Pennsylvania   1115 non-null   uint8
 33  SouthCarolina  1115 non-null   uint8
 34  SouthDakota    1115 non-null   uint8
 35  Tennessee      1115 non-null   uint8
 36  Texas          1115 non-null   uint8
 37  Utah           1115 non-null   uint8
 38  Vermont        1115 non-null   uint8
 39  Virginia       1115 non-null   uint8
 40  Washington     1115 non-null   uint8
 41  WestVirginia   1115 non-null   uint8
 42  Wisconsin      1115 non-null   uint8
 43  Wyoming        1115 non-null   uint8
 44  colonies       1115 non-null   object
dtypes: object(1), uint8(44)
memory usage: 56.7+ KB

In [18]:
Honey.head()

,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
0,Alabama,16000,58,928000,28000,62.0,575000,1995
1,Arizona,52000,79,4108000,986000,68.0,2793000,1995
2,Arkansas,50000,60,3000000,900000,64.0,1920000,1995
3,California,420000,93,39060000,4687000,60.0,23436000,1995
4,Colorado,45000,60,2700000,1404000,68.0,1836000,1995

In [19]:
Data['Yield'] = Honey['yield_per_colony']
Data.head()

In [20]:
Data = pd.DataFrame(Data)

In [21]:
Data['Production'] = normalize([Honey['production']]).data

In [22]:
Data['Stocks'] = normalize([Honey['stocks']]).data

In [23]:
Data['Value'] = normalize([Honey['value_of_production']]).data

In [24]:
Data['Average_Price'] = Honey['average_price']

In [25]:
Data.head()

In [26]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Alabama        1115 non-null   uint8
 1   Arizona        1115 non-null   uint8
 2   Arkansas       1115 non-null   uint8
 3   California     1115 non-null   uint8
 4   Colorado       1115 non-null   uint8
 5   Florida        1115 non-null   uint8
 6   Georgia        1115 non-null   uint8
 7   Hawaii         1115 non-null   uint8
 8   Idaho          1115 non-null   uint8
 9   Illinois       1115 non-null   uint8
 10  Indiana        1115 non-null   uint8
 11  Iowa           1115 non-null   uint8
 12  Kansas         1115 non-null   uint8
 13  Kentucky       1115 non-null   uint8
 14  Louisiana      1115 non-null   uint8
 15  Maine          1115 non-null   uint8
 16  Maryland       1115 non-null   uint8
 17  Michigan       1115 non-null   uint8
 18  Minnesota      1115 non-null   uint8
 19  Mississippi    1115 non-null   uint8
 20  Missouri       1115 non-null   uint8
 21  Montana        1115 non-null   uint8
 22  Nebraska       1115 non-null   uint8
 23  Nevada         1115 non-null   uint8
 24  NewJersey      1115 non-null   uint8
 25  NewMexico      1115 non-null   uint8
 26  NewYork        1115 non-null   uint8
 27  NorthCarolina  1115 non-null   uint8
 28  NorthDakota    1115 non-null   uint8
 29  Ohio           1115 non-null   uint8
 30  Oklahoma       1115 non-null   uint8
 31  Oregon         1115 non-null   uint8
 32  Pennsylvania   1115 non-null   uint8
 33  SouthCarolina  1115 non-null   uint8
 34  SouthDakota    1115 non-null   uint8
 35  Tennessee      1115 non-null   uint8
 36  Texas          1115 non-null   uint8
 37  Utah           1115 non-null   uint8
 38  Vermont        1115 non-null   uint8
 39  Virginia       1115 non-null   uint8
 40  Washington     1115 non-null   uint8
 41  WestVirginia   1115 non-null   uint8
 42  Wisconsin      1115 non-null   uint8
 43  Wyoming        1115 non-null   uint8
 44  colonies       1115 non-null   object
 45  Yield          1115 non-null   int64
 46  Production     1115 non-null   object
 47  Stocks         1115 non-null   object
 48  Value          1115 non-null   object
 49  Average_Price  1115 non-null   float64
dtypes: float64(1), int64(1), object(4), uint8(44)
memory usage: 100.3+ KB

In [27]:
Y = Data['Average_Price']
X = Data.drop(['Average_Price'],axis=1)

In [28]:
from sklearn.model_selection import train_test_split
#creating test and train data
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.25)
#Making validation Data
_,Val_x,_,Val_y = train_test_split(train_x,train_y,test_size=0.25)

In [29]:
import tensorflow as tensorflow
from tensorflow import keras
from keras import Sequential
from keras import layers

In [30]:
Model = Sequential()
#Layer1
Model.add(layers.Dense(49,input_dim=49, kernel_initializer='uniform',activation='relu'))

In [31]:
Model.add(layers.Dense(300, kernel_initializer='uniform',activation='relu'))

In [32]:
Model.add(layers.Dense(100, kernel_initializer='uniform',activation='relu'))

In [33]:
Model.add(layers.Dense(1,activation='relu'))

In [34]:
Model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 49)                2450

 dense_1 (Dense)             (None, 300)               15000

 dense_2 (Dense)             (None, 100)               30100

 dense_3 (Dense)             (None, 1)                 101

=================================================================
Total params: 47,651
Trainable params: 47,651
Non-trainable params: 0
_________________________________________________________________

In [35]:
Model.compile(optimizer = keras.optimizers.Adam(learning_rate=0.001),
              loss='mae',
              metrics = ['mae'])

In [36]:
Model.fit(train_x,train_y,epochs = 10)

NotImplementedError: multi-dimensional sub-views are not implemented

In [ ]:
Predict = Model.predict(test_x)